body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f7fb;
}

.container {
  width: 70%;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #1e3a8a;
}

.card {
  background: white;
  padding: 25px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.post {
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
}

.deleteBtn {
  margin-top: 10px;
  background: crimson;
}

.deleteBtn:hover {
  background: darkred;
}